* {
    box-sizing: border-box;
}

/* write rules below */

.padded{
    padding: 20px;;
}

.spaced{
    margin:20px;
}
.has-border{
    border:10px solid black;
}
.fixedwidth{
    width:300px;
}
#hero-box{
    height:200px;
    padding:40px;
    border:5px solid navy;
}

.img-box{
    margin:20px;
    border:3px solid black;
}

.content-block{
    width:200px
    padding:20px;
}
.section-gap{
    margin:30px;
}
.framed-box{
    height:100px;
    padding:30px;
    border:3px solid black;
}
#standout{
    width:200px;
    padding:30px;
    margin:30px;
}

#border-3{
    border:3px solid black;
}

.img-wh{
    width:300px;
    height:300px;
}
.margin-3{
    margin:30px;
}
